body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.profile {
}

.my_desc {
  width: 50%;
  margin: 0 auto 0 auto;
}

h1 {
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  line-height: 2;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

hr {
  width: 3%;
  border-style: none;
  border-top: dotted;
  border-width: 5px;
  border-color: #EAF6F6;
  margin: 100px auto;
}

.mobile {
  text-decoration: underline;
}

.subtitle {
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

p {
  color: #40514E;
  line-height: 2;
}

.top-container {
  background-color: #F4F9F9;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.code-img {
  width: 35%;
  float: left;
  margin-right: 30px;
}

.skill-img {
  width: 17%;
  float: right;
  margin-left: 30px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.btn {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 100;
   padding: 16px;
   background-color: #11999E;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.contact-me {
  margin-bottom: 0;
}

.contact-details {
  width: 30%;
  margin: 30px auto 50px auto;
}

.footer-link {
  margin: 0 30px 0 30px;
  text-decoration: none;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
